body {
    background-color: grey;
}
body {
    display: block;
    margin: 8px;
}
.Container {
    display: flex;
    justify-content: center;
}

header {
    background-color: white;
    color: crimson;
    font-size: 30px;
    font-weight: 100px;
    font-style: italic;
    padding: 12px 100px;
    display: inline-block;
    text-align: center;
    text-shadow: 2px 1px;
    box-shadow: 5px 5px purple;
    border: 5px solid orange;
    border-radius: 10px;
    box-sizing: border-box;
}
header {
    display: block;
}
hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.first-box {
    width: 250px;
    height: 250px;
    padding: 20px 5px;
    color: crimson;
    background-color: white;
    text-shadow: 1px 1px;
    border: 8px solid orange;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    box-shadow: 9px 9px purple;
    top: 0;
    left: 0;
    box-sizing: border-box;
    position: absolute;
}
.sec-box {
    width: 250px;
    height: 250px;
    padding: 10px 5px;
    color: crimson;
    background-color: white;
    text-align: center;
    border: 8px solid orange;
    border-radius: 10px;
    box-shadow: 8px 8px purple;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 50px;
}
.third-box {
    width: 250px;
    height: 250px;
    padding: 10px 5px;
    color: blue;
    background-color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 1px;
    border: 8px solid orange;
    border-radius: 10px;
    box-shadow: 8px 8px purple;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 20px;
}
.fourth-box {
    width: 250px;
    height: 250px;
    padding: 10px 5px;
    color: darkblue;
    background-color: white;
    text-align: center;
    text-shadow: 1px 1px;
    border: 7px solid orange;
    border-radius: 10px;
    box-shadow: 8px 8px purple;
    box-sizing: border-box;
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.offers {
    color: rgb(97, 13, 13);
    border: 7px solid rgb(205, 94, 29);
    background-color: rgb(105, 148, 19);
    font-weight: bold;
    font-style: italic;
    padding: 15px 10px 5px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 8px 8px rgb(138 8 138);
    position: fixed;
    left: 400px;
    right: 400px;
    bottom: 50px}

    .box {
        border: 10px solid rgb(2, 81, 2);
        position: relative;
        height: 600px;
    }
    .sec-box {
        width: 250px;
        height: 250px;
        padding: 10px 5px;
        color: crimson;
        background-color: white;
        text-align: center;
        border: 8px solid orange;
        border-radius: 10px;
        box-shadow: 8px 8px purple;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 50px;
    }
    user agent stylesheet
    div {
        display: block;
    }
    .fourth-box {
        width: 250px;
        height: 250px;
        padding: 10px 5px;
        color: darkblue;
        background-color: white;
        text-align: center;
        text-shadow: 1px 1px;
        border: 7px solid orange;
        border-radius: 10px;
        box-shadow: 8px 8px purple;
        box-sizing: border-box;
        position: absolute;
        right: 50px;
        bottom: 20px;
    }
    .store {
        display: flex;
        justify-content: center;
        padding: 10px;}
  .store2 {
            border: 10px solid purple;
            background-color: rgb(8, 74, 8);
        }
.items {
            display: flex;
            font-style: italic;
        }
        .others {
            background-color: rgb(194, 194, 15);
            text-align: center;
            box-sizing: border-box;
            font-style: italic;
            margin: 5px;
        }
        .items div {
            background-color: rgb(210, 210, 13);
            text-align: center;
            margin: 5px;
            box-sizing: border-box;
        }